
/* style.css*/
body { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  min-height: 45vh; 
  flex-direction: column; 
  margin: 0; 

}  

.main { 
  background-color: #ff0000; 
  border-radius: 15px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  padding: 10px 20px; 
  transition: transform 0.2s; 
  width: 500px; 
  height: 400px; 
  text-align: center; 
}

.ass{
  padding:10px;
  display: inline-block;

}

.time {
  font-size: 12px;
  color: rgb(255, 255, 255);
}

.soundIconBox {
  position: relative;
 
  /* border: 2px solid #f65959; */

}